<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#6C63FF"/>
    <link rel="apple-touch-icon" href="/icons/196px.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
    <title>Restaurants Apps</title>
    
</head>
    <body>
        <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>
        <header class="header">
            <h1 class="logo_title"> Restaurants Apps </h1>
            <button class="hamburger" id="hamburgerButton">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <nav id="navigationDrawer" role="navigation" class="nav">
                <ul class="nav_menu">
                    <li class="nav_item"><a class="nav_link" href="/">Home</a></li>
                    <li class="nav_item"><a class="nav_link" href="#/favorite">Favorite</a></li>
                    <li class="nav_item"><a class="nav_link" href="https://www.linkedin.com/in/figoperdana/">About Us</a></li>
                </ul>
            </nav>
        </header>
        <main id="mainContent" tabindex="0">
            
        </main>
        <footer>
            <p>Copyright © 2020 - Restaurants Apps</p>
            <p>Submission 3<p>
        </footer>
    </body>
</html>
